/* Global Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
}

h2 {
    color: #3498db;
    font-size: 2rem;
    margin-bottom: 30px;
}

/* Chat Container */
.chat-container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
    height: 80vh;
    margin: 0 20px;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow: hidden;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .chat-container {
        flex-direction: column;
        height: auto;
        min-height: 500px;
    }
}

/* Users List */
.users-list {
    flex: 1;
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.users-list h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.users-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.user-item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.user-item:hover {
    background-color: #2980b9;
}

.user-item.active {
    background-color: #cdebff;
    color: #4f4f4f;
}

.user-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.user-item span {
    font-weight: bold;
    font-size: 1rem;
}

.separator {
    height: 1px;
    background-color: #ccc;
    margin: 15px 0;
}

/* Chat Area */
.chat-area {
    flex: 3;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #ecf0f1;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow-y: auto;
}

#chat-messages {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 1;
}

.message {
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 12px;
    word-wrap: break-word;
    max-width: 70%;
    font-size: 1rem;
}

.sender {
    background-color: #3498db;
    color: #fff;
    align-self: flex-end;
    border-radius: 15px 15px 0 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.receiver {
    background-color: #fff;
    color: #333;
    align-self: flex-start;
    border-radius: 15px 15px 15px 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.message-input {
    display: flex;
    margin-top: auto;
    padding-top: 10px;
}

.message-input input {
    flex: 1;
    padding: 12px;
    border-radius: 25px;
    border: 1px solid #ddd;
    margin-right: 15px;
    font-size: 1rem;
    background-color: #fff;
}

.message-input button {
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.message-input button:hover {
    background-color: #2980b9;
}

/* User Form */
.user-form {
    max-width: 400px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease;
}

@media (max-width: 768px) {
    .user-form {
        padding: 30px;
    }
}

.user-form h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
    color: #3498db;
}

.user-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 1rem;
}

.user-form input {
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    font-size: 1rem;
    background-color: #fff;
}

.user-form button {
    padding: 15px;
    border: none;
    background-color: #3498db;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    transition: background-color 0.3s ease;
}

.user-form button:hover {
    background-color: #2980b9;
}

/* Logout */
a.logout {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    display: inline-block;
    margin-top: 20px;
    transition: color 0.3s ease;
}

a.logout:hover {
    color: #2980b9;
}

/* Hidden Class */
.hidden {
    display: none;
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .user-form {
        width: 90%;
    }

    .chat-container {
        width: 100%;
    }

    .chat-area {
        padding: 15px;
    }

    .users-list {
        display: none;
    }

    .chat-container {
        height: auto;
    }

    .message-input input {
        font-size: 0.9rem;
    }

    .message-input button {
        font-size: 0.9rem;
    }
}
